<div class="all-list">
    <div class="footer-list">
      <div class="list-header">COMPANY</div>
      <div class="links">
        <a href="#">About Wego</a>
        <a href="#">Press</a>
        <a href="#">Career</a>
        <a href="#">About Us</a>
      </div>
    </div>
  
    <div class="footer-list">
      <div class="list-header">LEARN MORE</div>
      <div class="links">
        <a href="#">Book on Wego</a>
        <a href="#">Affiliats</a>
        <a href="#">Advertise</a>
        <a href="#">Hoteliers</a>
        <a href="#">Data Privacy Policy </a>
        <a href="#">Terms</a>
      </div>
  
    </div>
    <div class="footer-list">
      <div class="list-header">EXPLORE</div>
      <div class="links">
        <a href="#">Airport Directory</a>
        <a href="#">Airlines Directory</a>
        <a href="#">Flight Schedules</a>
        <a href="#">Hotels Chains</a>
      </div>
    </div>
    <div class="footer-list">
      <div class="list-header">download</div>
      <div class="links">
        <a href="#">Wego App (ios)</a>
        <a href="#">Wego App (Android)</a>
  
      </div>
    </div>
  
  </div>