<div class="header_nav">
    <div class="part1">
    <div class="navbar">
        <div class="brand">
            <h3>Rehlty</h3>
            {% load static %}
        <!--<img src="{% static 'image/logo.jpg' %}" alt="">--> 
        </div>
      <div class="header-content">
        <div class="header-btn">
          <button>EN</button>
          <span>|</span>
          <button>EGP</button>
        </div>
        <a class="nav-a" href="#">Support</a>
       
  
        <button class="header-login"><a href="{% url 'signin' %}">Logout</a></button>
  
      </div>
  
    </div>
    </div>
  </div>